---
import FooterSection from '@/astro/FooterSection.astro'
import Newsletter from '../common/Newsletter.astro'

const legalLinks = [
  {
    href: '/privacy-policy',
    label: 'Privacy Policy',
  },
  {
    href: '/terms-and-conditions',
    label: 'Terms & Conditions',
  },
  {
    href: '/site-map',
    label: 'Site Map',
  },
]

const companyLinks = [
  {
    href: '/about-us',
    label: 'About Us',
  },
  {
    href: '/contact-us',
    label: 'Contact Us',
  },
  {
    href: '/projects',
    label: 'Projects',
  },
  {
    href: '/careers',
    label: 'Careers',
  },
  {
    href: '/work-with-us',
    label: 'Work With Us',
  },
]

const servicesLinks = [
  {
    href: '/web-development',
    label: 'Web Development',
  },
  {
    href: '/mobile-app-development',
    label: 'Mobile App Development',
  },
  {
    href: '/digital-marketing',
    label: 'Digital Marketing',
  },
  {
    href: '/erp-software',
    label: 'ERP Software',
  },
  {
    href: '/graphics-design',
    label: 'Graphics Design',
  },
]
---

<footer class="flex w-full flex-col rounded-b-xl text-white uppercase">
  <div class="bg-foreground flex justify-between gap-4 rounded-b-4xl px-8 py-6">
    <div class="flex justify-between gap-16">
      <FooterSection links={companyLinks}>
        <slot>Company</slot>
      </FooterSection>
      <FooterSection links={servicesLinks}>
        <slot>Services</slot>
      </FooterSection>
      <FooterSection links={servicesLinks}>
        <slot>Services</slot>
      </FooterSection>
    </div>
    <Newsletter />
  </div>

  <div
    class="text-muted-foreground flex items-center justify-between px-8 py-4 text-sm"
  >
    <small>
      <span class="capitalize">Copyright</span> &copy; KP Infotech {
        new Date().getFullYear()
      }
    </small>

    <nav class="flex text-sm capitalize" aria-label="Legal">
      {
        legalLinks.map((link) => (
          <a
            href={link.href}
            class="border-muted-foreground border-r px-4 last:border-none hover:underline"
          >
            {link.label}
          </a>
        ))
      }
    </nav>
  </div>
</footer>
